<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ADV Shop - Home</title>
</head>
<body>
<h3>Welcome to ADV Shop</h3>

<ul>
  <li><a href="/product/list">Go to Product List</a></li>
  <li><a href="/car/list">Go to Car List</a></li>
  <li><a href="/order/create">Create New Order</a></li>
  <li><a href="/order/history">Order History</a></li>
  <li><a href="/payment/detail">Check Payment Detail</a></li>
  <li><a href="/payment/admin/list">Admin: Payment List</a></li>
</ul>
</body>
</html>