<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-4">
    <h3>Create New Order</h3>

    <form th:action="@{/order/create}" method="post">
        <div class="form-group">
            <label for="authorInput">Author (Nama Pemesan)</label>
            <input type="text" name="author" class="form-control mb-4 col-4" id="authorInput" placeholder="Masukkan nama lu..." required>
        </div>

        <div class="form-group">
            <label for="productInput">Produk (Opsional)</label>
            <input type="text" name="productName" class="form-control mb-4 col-4" id="productInput" placeholder="Nama produk yang mau diorder...">
        </div>

        <button type="submit" class="btn btn-primary">Submit Order</button>
        <a th:href="@{/order/history}" class="btn btn-secondary">Ke Order History</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>